* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #130F1E;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 16px;
}

button {
    font-family: 'inter';
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    width: 250px;
    color: white;
}